@charset "UTF-8";

@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.wrapper{width : 100%; height : 74vh; margin : 0 auto;}
.m_main_img{position : relative; background-image: url("/mamin/img/main/뉴욕.png");
	width : 100%;
	height : 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.m_logobox{display : flex; flex-direction: column; justify-content: center; align-items: center; padding-top : 20px;}

.m_main_text{
	color : #1c3761; font-size : 100px;
	font-family: 'SDSamliphopangche_Outline';
}
.character{ width : 100px; }
.btn_box{display : flex; justify-content: center; align-items: center; margin-top : 30px;}
.startbtn{font-size : 70px; cursor : pointer; font-family: 'SDSamliphopangche_Outline'; color : #1c3761;
	border : 5px solid #1c3761; border-radius: 50px; padding : 10px;
}