@charset "UTF-8";


/*
	색 조합 : 1. #e1ffb1
			2. #c7f2a4
			3. #b6e388
			4. #fcffb2
*/


@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.wrap{height : 74vh; margin : 0 auto; display : flex; justify-content: center; align-items: center;}



.room_wrapper{width : 100%; height : 100%;
		display : flex; flex-direction: column; align-items: center; justify-content: space-around;
}

/* 방제목 */
.room_info{ width : 962px; height : 50px; background-color: #eeeeee; 
		font-family: 'MaplestoryOTFBold'; margin-top : 20px;
		vertical-align : middle; text-align: center; font-size : 30px;}

/* 유저 슬롯 */
.slot_box{width: 90%; height : 60%; display : flex; flex-direction : column; align-items: center; margin-top : 10px;}
.player_slot{background-color: #eeeeee;}
.player_slot td{vertical-align: middle;}
.r_p_img{ width : 150px; height : 80px; display:flex; justify-content: center; align-items: center;}
.r_p_img img{width : 50%; border-radius : 100%;}
.r_name_box{width: 300px; height :  80px; font-family: 'ONE-Mobile-POP'; font-size : 30px; text-align: center; margin : 22px 10px;}
.r_winrate{width: 100px; height :  80px; font-family: 'ONE-Mobile-POP'; font-size : 20px; text-align: center; margin : 30px;}
.r_ready_box{width: 200px; height :  80px; font-family: 'ONE-Mobile-POP'; font-size : 20px; text-align: center; padding-left : 200px; padding-right:30px;}

/* 임시 추가 */
.r_ready_box1{width: 300px; height :  80px; font-family: 'ONE-Mobile-POP'; font-size : 20px; text-align: center; padding-left : 200px; padding-right:30px;}
.r_ready_box2{width: 300px; height :  80px; font-family: 'ONE-Mobile-POP'; font-size : 20px; text-align: center; padding-left : 200px; padding-right:30px;}
.r_ready_box3{width: 300px; height :  80px; font-family: 'ONE-Mobile-POP'; font-size : 20px; text-align: center; padding-left : 200px; padding-right:30px;}
.r_ready_box4{width: 300px; height :  80px; font-family: 'ONE-Mobile-POP'; font-size : 20px; text-align: center; padding-left : 200px; padding-right:30px;}

/* btnbox */
.r_btnbox{width : 600px; display : flex; justify-content: space-around; align-items: center;}
.r_btnbox button{width : 200px; background-color: #283C63; height : 50px; border: none; font-family: 'KOTRAHOPE'; color : white;}



/* 채팅 박스 */
.chatbox{margin : 10px 0;}
.chatDisplay{ width : 962px; height : 250px; font-family : 'MaplestoryOTFBold'; margin-bottom : 10px; 
		overflow-y : scroll; background-color: #eeeeee; word-break : break-all;}
.chatInput{width : 962px;; height : 30px; display : flex;}

.chatInput textarea{width : 900px; height : 30px; resize: none; background-color: #eeeeee; }
.chatInput button{background-color: #eeeeee; width : 62px; height : 30px; font-family: 'MaplestoryOTFBold'; margin-left : 5px;}

/* 스크롤바 꾸미기 */
.chatDisplay::-webkit-scrollbar {width: 6px; /*스크롤바의 너비*/}
.chatDisplay::-webkit-scrollbar-thumb {
    background-color: #8e8e8e; /*스크롤바의 색상*/
    border-radius: 10px;
	}

.chatDisplay::-webkit-scrollbar-track {background-color: #eeeeee; /*스크롤바 트랙 색상*/}